<div class="dashboard">
	<navbar (createBoardClick)="createBoardClicked($event)"></navbar>

	<div class="container">
		<h2 class="text-center">Private Boards</h2>
		<p class="text-center" *ngIf="privateBoards.length == 0">You don't have any private boards</p>
		<ul class="board-list">
			<li *ngFor="let board of privateBoards" #boardItem>
				<board-list-item [board]="board" [username]="username" (boardDelete)="boardDeleted($event)"></board-list-item>
			</li>
		</ul>

		<h2 class="text-center">Public Boards</h2>
		<p class="text-center" *ngIf="publicBoards.length == 0">You don't have any public boards</p>
		<ul class="board-list">
			<li *ngFor="let board of publicBoards" #boardItem>
				<board-list-item [board]="board" [username]="username" (boardDelete)="boardDeleted($event)"></board-list-item>
			</li>
		</ul>
	</div>

	<ui-context-menu class="create-board-modal" #createBoardMenu (hide)="menuHidden()">
		<section>
			<ui-text-input #newBoardNameInput [placeholder]="'Name for your board'" [(inputValue)]="newBoardName" [ngClass]="boardNameIncorrect ? 'error' : ''" (input)="newBoardNameEdited($event)"></ui-text-input>
		</section>

		<section>
			<input type="radio" name="board-type" value="0" [(ngModel)]="newBoardType" checked/> private
			<input type="radio" name="board-type" value="1" [(ngModel)]="newBoardType"/> public
		</section>

		<section>
			<p class="color-menu" (click)="toggleColorMenu()" [ngClass]="colorMenuExpanded ? 'hidden' : ''">▸ Color</p>
			<p class="color-menu" (click)="toggleColorMenu()" [ngClass]="!colorMenuExpanded ? 'hidden' : ''">▾ Color</p>
			<div class="color-menu-content" [ngClass]="!colorMenuExpanded ? 'hidden' : ''">
				<input type="color" name="board-color" [(ngModel)]="newBoardColor"/>
			</div>
		</section>

		<ui-button class="btn btn-success create-btn" (click)="createBoard()"><i class="material-icons add-icon">create</i> Create</ui-button>
	</ui-context-menu>
</div>