<div class="welcome">
	<div class="container">
		<section class="header">
			<h1 class="title">Taskz</h1>
			<p class="title2">Become a task master</p>
		</section>

		<section class="showcase">
			<h2 class="text-center">Free and open source task management app</h2>
			<img src="../../../../assets/img/screenshot.png"/>

			<div class="buttons">
				<ui-button [link]="'/register'"><div class="btn-primary">Sign up</div></ui-button>
				<ui-button [link]="'/login'"><div class="btn-secondary">Log in</div></ui-button>
			</div>
		</section>

		<section class="features">
			<ul>
				<li>
					<h3 class="title">Stay orgranized</h3>
					<p class="description">Taskz provides all the tools necessary to organize your projects in a clean and fun way.</p>
				</li>
				<li>
					<h3 class="title">Cooperate</h3>
					<p class="description">Invite other people to access your board. Or create a public board that is visible to everyone.</p>
				</li>
				<li>
					<h3 class="title">Freedom</h3>
					<p class="description">Taskz is free and open source, released under the GPL license. Anyone is free to host their own instance of Taskz! You can <a href="https://github.com/pkrasicki/Taskz">contribute on GitHub</a>.</p>
				</li>
			</ul>
		</section>
	</div>
</div>