@import "../../../../vars.scss";

.welcome
{
	height: 100%;
	overflow: auto;

	.container
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: 10px;
	}

	.header
	{
		text-align: center;

		.title
		{
			color: $primary;
			font-size: 48px;
			margin-top: 25px;
			margin-bottom: 0px;
		}
	
		.title2
		{
			margin-top: 0px;
		}
	}

	.showcase
	{
		text-align: center;

		img
		{
			margin: 0 auto;
			border-radius: 5px;
			background: $card;
		}

		.buttons
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-top: 10px;
		}

		.btn-primary, .btn-secondary
		{
			padding: 10px 20px;
		}
		
		.btn-primary
		{
			margin-right: 20px;
		}
	}

	.features
	{
		padding: 50px;

		ul
		{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 50px;
		}

		.title
		{
			margin-bottom: 5px;
		}

		.description
		{
			margin-top: 0;
		}
	}
}

@media(max-width: 1300px)
{
	.welcome .showcase img
	{
		width: 90%;
	}
}

@media(max-width: 800px)
{
	.welcome
	{
		.showcase
		{
			margin-top: 0;

			img
			{
				width: 100%;
			}
		}

		.features
		{
			padding-top: 0px;
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 50px;
		}
	}
}

@media(max-width: 700px)
{
	.welcome .features
	{
		padding: 50px;
		padding-top: 0;
		padding-bottom: 0;

		ul
		{
			grid-template-columns: 1fr;
			grid-gap: 10px;
		}
	}
}

@media(max-width: 650px)
{
	.welcome .showcase h2
	{
		font-size: 22px;
	}
}

@media(max-width: 500px)
{
	.welcome
	{
		.showcase
		{
			h2
			{
				font-size: 20px;
			}

			.buttons
			{
				.btn-primary, .btn-secondary
				{
					padding: 5px 10px;
				}
			}
		}

		.features
		{
			padding-left: 10px;
			padding-right: 10px;

			.title
			{
				margin-top: 5px;
			}
		}
	}
}