<div class="buttons" #toggableEdit [ngClass]="isVisible ? '' : 'hidden'">
	<ui-text-input *ngIf="!useTextarea" #input [placeholder]="placeholder" [(inputValue)]="val" (inputValueChange)="valChange.emit(val)" (focus)="focus.emit($event)" (blur)="blur.emit($event)"></ui-text-input>
	<ui-textarea *ngIf="useTextarea" #input [placeholder]="placeholder" [(inputValue)]="val" (inputValueChange)="valChange.emit(val)" (focus)="focus.emit($event)" (blur)="blur.emit($event)"></ui-textarea>
	<ui-button class="btn-success" (click)="acceptClick.emit($event)">Add</ui-button>
	<ui-button class="btn-alt" (click)="cancelClick.emit($event)">Cancel</ui-button>
</div>