@import "../../../vars.scss";

.task, ::ng-deep .task
{
	padding: 7px;
	margin-bottom: 7px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.9);
	background: $card;
	border: solid 1px $card-dark;
	border-radius: 5px;
	overflow-wrap: break-word;

	pre
	{
		font: inherit;
		font-size: inherit;
		padding: 0px;
		white-space: pre-wrap;
		margin: 0;
	}

	&:hover
	{
		border-color: rgba(255, 255, 255, 0.1);
	}

	.btn-edit
	{
		float: right;
		color: inherit;
	}
}

.task-hidden
{
	display: none;
}

.task-clone
{
	border-color: rgba(255, 255, 255, 0.3) !important;
}

.task-dragged
{
	border-color: rgba(255, 255, 255, 0.1)
}