@import "../../../../vars.scss";

.ui-textarea
{
	width: 100%;
	background: $button;
	color: rgba(255, 255, 255, 0.9);
	padding: 5px;
	border-radius: 5px;
	border: solid 1px transparent;

	&:focus
	{
		border: solid 1px rgba(255, 255, 255, 0.7);
	}

	&::placeholder
	{
		color: rgba(255, 255, 255, 0.5);
		opacity: 1;
	}
}