@import "../../../../vars.scss";

.not-found
{
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	padding: 20px;

	.title
	{
		margin-bottom: 0;
	}

	p
	{
		margin-top: 5px;
	}
}