<div class="board">
	<navbar [board]="board"></navbar>

	<div class="content">
		<ul *ngIf="board != null">
			<li *ngFor="let taskList of board.taskLists">
				<task-list [taskList]="taskList" [parentBoard]="this"></task-list>
			</li>

			<!-- new list button -->
			<li class="task-list">
				<ui-button class="btn-add" (click)="showEdit()" [ngClass]="listEdit.isVisible ? 'hidden' : ''"><i class="material-icons add-icon">create</i> New List</ui-button>
				<ui-toggable-edit #listEdit [placeholder]="'Name for your list'" [(val)]="newListTitle" (acceptClick)="createTaskListFromInput()" (cancelClick)="hideEdit()"></ui-toggable-edit>
			</li>
		</ul>

		<div class="loading-indicator" *ngIf="isLoading">
			<div>
				<i class="material-icons spinner">sync</i>
			</div>
		</div>
	</div>

	<task-edit-modal #modal></task-edit-modal>
</div>