$primary: rgb(116, 184, 89);
$primary-light: rgb(125, 199, 96);
$primary-dark: rgb(104, 165, 80);
$secondary: rgb(64, 151, 192);
$secondary-light: rgb(70, 163, 206);
$secondary-dark: rgb(64, 151, 192);
$success: darken(#27ae60, 7);
$success-light: lighten($success, 4);
$success-dark: darken($success, 4);
$warning: darken(#f39c12, 10);
$danger: darken(#cc3f35, 7);
$danger-light: lighten($danger, 4);
$danger-dark: darken($danger, 4);
$background: darken(#2c3e50, 0);
$nav: #1a2530;
$context-menu-bg: #292929;
$card: darken(#34495e, 0);
$card-light: lighten($card, 2);
$card-dark: darken($card, 5);
$button: lighten($card, 3);
$button-light: lighten($button, 3);
$button-dark: darken($card, 3);
$link: rgb(101, 187, 221);
$link-light: lighten($link, 5);