@import "../../../vars.scss";

.task-list, ::ng-deep .task-list
{
	width: 300px;
	flex-shrink: 0;
	background: $card;
	border-radius: 5px;
	margin-right: 10px;
	padding-bottom: 10px;

	& > ul
	{
		padding: 10px;
		padding-top: 0;
	}

	ui-button
	{
		margin-top: 5px;
		margin-right: 10px;
	}

	ui-toggable-edit
	{
		display: block;
		width: 280px;
		margin-left: 10px;
		margin-right: 10px;
	}

	#header
	{
		display: grid;
		grid-template-columns: 92% 8%;
		overflow-wrap: break-word;
		padding: 10px 10px 5px 11px;

		h4
		{
			margin-top: 0px;
			margin-bottom: 0px;
			overflow-wrap: break-word;
			pointer-events: none; // this makes list title unselectable but it's needed for drag handle to work
		}

		.btn-list-settings
		{
			text-align: right;
		}
	}

	.btn-add
	{
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 0;
		width: 280px;
	}

	.buttons
	{
		ui-button
		{
			width: 100px;
			margin-top: 5px;
			margin-right: 10px;
		}
	}

	ui-context-menu ui-button
	{
		padding: 5px;
		text-align: left;

		&:hover
		{
			background: rgba(255, 255, 255, 0.08);
		}
	}
}

.add-list, ::ng-deep .add-list
{
	padding-top: 10px;
}